/* Color de fondo exacto de Mercadona (Verde Oscuro Petróleo) */
.customFooter {
  background-color: #152b2d;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    
    /* ESTA ES LA CLAVE PARA QUE SE VAYA ABAJO DEL TODO: */
    margin-top: auto; 
    width: 100%;

}
.footerWrapper {
  width: 100%;
  
  /* ESTA ES LA LÍNEA CLAVE: */
  /* Impide que el footer se encoja a menos de 320px (tamaño estándar de móvil pequeño) */
  min-width: 320px; 
  
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

/* Enlaces normales (Grisáceos que pasan a blanco) */
.footerLink {
    color: #becdd0;
    text-decoration: none;
    transition: color 0.2s;
}

.footerLink:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Enlaces legales de abajo (más pequeños) */
.legalLink {
    color: #becdd0;
    text-decoration: underline;
    font-size: 0.8rem;
}

.legalLink:hover {
    color: #ffffff;
}

/* Cajitas para los iconos sociales (Cuadrados con fondo transparente) */
.socialBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.socialBox:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
