.menuBtn {
  color: #009c54 !important;
}

.navLink {
  color: #009c54 !important;
  font-weight: 400;
  font-size: 16px;
  margin-right: 1rem;
  transition: color 0.2s;
}

.navLink:hover {
  color: #007a41 !important;
}

.langSelector a {
    color: #333 !important;
    font-size: 15px;
}

.brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 992px) {
  .brand {
    position: static;
    transform: none;
    left: auto;
  }
}
