.newsContainer {
  background-color: #fafafa;
  padding: 5rem 0;
  overflow: hidden;
}

.newsImage img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.newsTitle {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 2rem;
  color: #000;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.newsText {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.newsLink {
  color: #4aae5e;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 2px solid #4aae5e;
  padding-bottom: 2px;
  transition: color 0.2s, border-color 0.2s;
}

.newsLink:hover {
  color: #008f1c;
  border-color: #008f1c;
  text-decoration: none;
}

@media (min-width: 768px) {
    .newsText {
        margin-left: 0;
        margin-right: 0;
    }
}
