.section {
  background-color: #f3f2ee;
  padding: 2rem 0rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.title {
  font-family: 'Merriweather', serif;
  color: #111111;
  font-size: 2rem;
  font-weight: 900;
}

.infoText {
  max-width: 300px;
}

.enterButton {
    background-color: #00AB61 !important;
    color: white !important;
    border: none !important;
    transition: background-color 0.2s;
}

.enterButton:hover {
    background-color: #008f1c !important;
}

.inputField:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.storeImg {
  height: 40px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .section {
    background-image: url('/fondo2.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 65% auto; 
    padding: 3rem 0rem; 
  }
}