.section {
  background-color: #f3f2ee;
  box-sizing: border-box;
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;
  /* Transición suave al redimensionar la pantalla */
  transition: all 0.3s ease;
}

.title {
  color: #111111;
  line-height: 1.03;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.3rem;
  margin: 0 0 1.5rem;
  max-width: 405px;
}
.infoText{
  white-space: nowrap
}
@media (min-width: 1455px) {
  .section {
    background-image: url('/public/fondo2.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60% auto; 
    min-height: 500px; 
    padding: 4rem 3rem; 
  }
  .heroImage {
    display: none;
  }
}