.section2 {
    padding: 3rem;
    background-color: #fff;
    overflow: hidden;
}

.section3 {
    padding: 3rem;
    background-color: #F7F7F7;
    overflow: hidden;
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #000;
    margin-bottom: 1.5rem;
}

.description {
    color: #666;
    font-size: 1.1rem;
    max-width: 550px;
}

.Link {
  color: #4aae5e;
  font-size: 1.1rem;
  text-decoration: none;
}

.Link:hover {
  color: #008f1c;
}